In [1]:
import pandas as pd

df = pd.read_csv(r'kidneyChronic.csv')
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [3]:
df.describe()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
count,400,400,400,400,400,400,400,400,400,400,...,400,400,400,400,400,400,400,400,400,400
unique,77,11,6,7,7,3,3,3,3,147,...,45,93,47,3,6,4,3,3,3,2
top,60,80,1.02,0,0,normal,normal,notpresent,notpresent,?,...,?,?,?,no,no,no,good,no,no,ckd
freq,19,116,106,199,290,201,259,354,374,44,...,70,105,130,251,258,362,317,323,339,250

In [4]:
df.isnull().sum()

age      0
bp       0
sg       0
al       0
su       0
rbc      0
pc       0
pcc      0
ba       0
bgr      0
bu       0
sc       0
sod      0
pot      0
hemo     0
pcv      0
wbcc     0
rbcc     0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
class    0
dtype: int64

In [5]:
import numpy as np
np.unique(df['age'])

array(['11', '12', '14', '15', '17', '19', '2', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '3', '30', '32', '33', '34',
       '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '5', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '6', '60', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74',
       '75', '76', '78', '79', '8', '80', '81', '82', '83', '90', '?'],
      dtype=object)

In [6]:
df_m = df.copy()

In [7]:
df_m['age'].replace('?', np.nan, inplace = True)

In [8]:
df_m.isnull().sum()

age      9
bp       0
sg       0
al       0
su       0
rbc      0
pc       0
pcc      0
ba       0
bgr      0
bu       0
sc       0
sod      0
pot      0
hemo     0
pcv      0
wbcc     0
rbcc     0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
class    0
dtype: int64

In [9]:
df_m.replace('?', np.nan, inplace = True)

In [10]:
df_m.isnull().sum()

age        9
bp        12
sg        47
al        46
su        49
rbc      152
pc        65
pcc        4
ba         4
bgr       44
bu        19
sc        17
sod       87
pot       88
hemo      52
pcv       70
wbcc     105
rbcc     130
htn        2
dm         2
cad        2
appet      1
pe         1
ane        1
class      0
dtype: int64

In [11]:
df_m.replace('notpresent', np.nan, inplace = True)

In [12]:
df_m.isnull().sum()

age        9
bp        12
sg        47
al        46
su        49
rbc      152
pc        65
pcc      358
ba       378
bgr       44
bu        19
sc        17
sod       87
pot       88
hemo      52
pcv       70
wbcc     105
rbcc     130
htn        2
dm         2
cad        2
appet      1
pe         1
ane        1
class      0
dtype: int64

In [13]:
#In columns (rbc, pcc,ba,wbcc,rbcc) more than 25% are null, So dropping these values from data frame
df_m.drop(['rbc','pcc','ba','wbcc','rbcc'], inplace = True, axis = 1)
df_m

,age,bp,sg,al,su,pc,bgr,bu,sc,sod,pot,hemo,pcv,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,normal,121,36,1.2,NaN,NaN,15.4,44,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,normal,NaN,18,0.8,NaN,NaN,11.3,38,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,423,53,1.8,NaN,NaN,9.6,31,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,abnormal,117,56,3.8,111,2.5,11.2,32,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,106,26,1.4,NaN,NaN,11.6,35,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.02,0,0,normal,140,49,0.5,150,4.9,15.7,47,no,no,no,good,no,no,notckd
396,42,70,1.025,0,0,normal,75,31,1.2,141,3.5,16.5,54,no,no,no,good,no,no,notckd
397,12,80,1.02,0,0,normal,100,26,0.6,137,4.4,15.8,49,no,no,no,good,no,no,notckd
398,17,60,1.025,0,0,normal,114,50,1,135,4.9,14.2,51,no,no,no,good,no,no,notckd
399,58,80,1.025,0,0,normal,131,18,1.1,141,3.5,15.8,53,no,no,no,good,no,no,notckd

In [66]:
pd.set_option('display.max_columns', None)
df_m[df_m.bp.isnull()]

,age,bp,sg,al,su,pc,bgr,bu,sc,sod,pot,hemo,pcv,htn,dm,cad,appet,pe,ane,class
7,24,NaN,1.015,2,4,abnormal,410,31,1.1,NaN,NaN,12.4,44,no,yes,no,good,yes,no,ckd
75,5,NaN,1.015,1,0,normal,NaN,16,0.7,138,3.2,8.1,NaN,no,no,no,good,no,yes,ckd
132,50,NaN,NaN,NaN,NaN,NaN,219,176,13.8,136,4.5,8.6,24,yes,no,no,good,yes,yes,ckd
138,73,NaN,1.01,1,0,NaN,95,51,1.6,142,3.5,NaN,NaN,no,\tno,no,good,no,no,ckd
161,62,NaN,1.015,3,0,NaN,NaN,NaN,NaN,NaN,NaN,14.3,42,yes,yes,no,good,no,no,ckd
164,14,NaN,1.015,0,0,NaN,192,15,0.8,137,4.2,14.3,40,no,yes,no,poor,yes,no,ckd
185,4,NaN,1.02,1,0,normal,99,23,0.6,138,4.4,12,34,no,no,no,good,no,no,ckd
187,3,NaN,1.01,2,0,normal,NaN,22,0.7,NaN,NaN,10.7,34,no,no,no,good,no,no,ckd
188,8,NaN,NaN,NaN,NaN,NaN,80,66,2.5,142,3.6,12.2,38,no,\tno,no,good,no,no,ckd
215,2,NaN,1.01,3,0,abnormal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,good,yes,no,ckd
293,50,NaN,1.02,0,0,normal,92,19,1.2,150,4.8,14.9,48,no,no,no,good,no,no,notckd
316,35,NaN,1.02,0,0,normal,99,30,0.5,135,4.9,15.4,48,no,no,no,good,no,no,notckd

In [14]:
int_cols = ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv'] 
df_m[int_cols] = df_m[int_cols].apply(pd.to_numeric, errors='coerce')

In [15]:
df_m.dtypes

age      float64
bp       float64
sg       float64
al       float64
su       float64
pc        object
bgr      float64
bu       float64
sc       float64
sod      float64
pot      float64
hemo     float64
pcv      float64
htn       object
dm        object
cad       object
appet     object
pe        object
ane       object
class     object
dtype: object

In [18]:
df_m['dm'].value_counts()

no     261
yes    137
Name: dm, dtype: int64

In [19]:
# import re

df_m['dm'].replace(' ', '', inplace = True, regex=True)
df_m['dm'].replace('\t', '', inplace = True, regex=True)
df_m['dm'].value_counts()

no     261
yes    137
Name: dm, dtype: int64

In [20]:
df_m.cad.replace("\t","", inplace= True, regex=True)
df_m.cad.value_counts()

no     364
yes     34
Name: cad, dtype: int64

In [21]:
df_m.appet.value_counts()

good    317
poor     82
Name: appet, dtype: int64

In [22]:
df_m.pe.value_counts()

no     323
yes     76
Name: pe, dtype: int64

In [23]:
df_m.ane.value_counts()

no     339
yes     60
Name: ane, dtype: int64

In [24]:
df_m.dtypes

age      float64
bp       float64
sg       float64
al       float64
su       float64
pc        object
bgr      float64
bu       float64
sc       float64
sod      float64
pot      float64
hemo     float64
pcv      float64
htn       object
dm        object
cad       object
appet     object
pe        object
ane       object
class     object
dtype: object

In [25]:
obj = ['pc','htn','dm','cad','appet','pe','ane']
df_pc = pd.get_dummies(df_m['pc'], prefix = 'pc')
df_htn = pd.get_dummies(df_m['htn'], prefix = 'htn')
df_dm = pd.get_dummies(df_m['dm'], prefix = 'dm')
df_cad = pd.get_dummies(df_m['cad'], prefix = 'cad')
df_appet = pd.get_dummies(df_m['appet'], prefix = 'appet')
df_pe = pd.get_dummies(df_m['pe'], prefix = 'pe')
df_ane = pd.get_dummies(df_m['ane'], prefix = 'ane')

In [27]:
df_m['class'].replace("ckd",1, inplace= True)
df_m['class'].replace("notckd",0, inplace= True)
df_m['class'].value_counts()
y = df_m['class'].values
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [28]:
df_m.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'pc', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'pcv', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [29]:
df_m.drop(obj, inplace = True, axis = 1)

In [30]:
df_m.drop(['class'], inplace = True, axis = 1)

In [35]:
df_f = pd.concat([df_m,df_pc,df_htn,df_dm,df_cad,df_appet,df_pe,df_ane], axis = 1)

In [36]:
pd.set_option('display.max_columns', None)
df_f
# df_m.age.value_counts(dropna = False)

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,pc_abnormal,pc_normal,htn_no,htn_yes,dm_no,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,NaN,15.4,44.0,0,1,0,1,0,1,1,0,1,0,1,0,1,0
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,NaN,11.3,38.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,NaN,9.6,31.0,0,1,1,0,0,1,1,0,0,1,1,0,0,1
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,1,0,0,1,1,0,1,0,0,1,0,1,0,1
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,NaN,11.6,35.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,4.9,15.7,47.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,3.5,16.5,54.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,4.4,15.8,49.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,4.9,14.2,51.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,3.5,15.8,53.0,0,1,1,0,1,0,1,0,1,0,1,0,1,0

In [37]:
df_f.shape

(400, 26)

In [51]:
df_null = df_f.isnull().sum()
l = list(df_null.values)
dc = dict()
for i in range(0,len(l)):
    dc[df_null.index[i]] = (l[i]/400)*100
dc
#The below dictionary will tell us that how much percentage are null in the columns

{'age': 2.25,
 'bp': 3.0,
 'sg': 11.75,
 'al': 11.5,
 'su': 12.25,
 'bgr': 11.0,
 'bu': 4.75,
 'sc': 4.25,
 'sod': 21.75,
 'pot': 22.0,
 'hemo': 13.0,
 'pcv': 17.75,
 'pc_abnormal': 0.0,
 'pc_normal': 0.0,
 'htn_no': 0.0,
 'htn_yes': 0.0,
 'dm_no': 0.0,
 'dm_yes': 0.0,
 'cad_no': 0.0,
 'cad_yes': 0.0,
 'appet_good': 0.0,
 'appet_poor': 0.0,
 'pe_no': 0.0,
 'pe_yes': 0.0,
 'ane_no': 0.0,
 'ane_yes': 0.0}

In [53]:
x = df_f.values